
<p style="font-size: 30px; font-weight: bold;">{{recipe.nombre}}</p>
<div style="display: flex;grid-template-columns: 100px 100px;grid-column-gap: 150px;
">
    <div class="text-center">
        <img [src]="recipe.imagenurl" width="150px" height="100px">
    </div>
    <div>
        <p>{{recipe.descripcion}}</p>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<div style="display: flex;grid-template-columns: 100px 100px;grid-column-gap: 150px;
">
    <div class="text-center">
        <p>pasossss</p>
    </div>
    <div>
        <p>{{recipe.descripcion}}</p>
    </div>
</div>
