<header>
  <div class="header-item">
    <img src="../assets/images/logoplatovolador.jpg" alt="Logo">
  </div>
  <div class="header-item">
    <h2>Registrar Ingrediente</h2>
  </div>
  <div class="header-item">
    <h2>Recetas</h2>
  </div>
  <div class="header-item">
    <h2>Nueva Receta</h2>
  </div>
  <div class="header-item">
    <h2>Registro</h2>
  </div>
  <div class="header-item">
    <img src="../assets/images/user.png" alt="Chef Icon" 
    style="filter: invert(16%) sepia(89%) saturate(1921%) hue-rotate(6deg) brightness(94%) contrast(93%);">
  </div>
</header>


<h1>El Plato Volador</h1>