<header>
  <div class="header-item">
    <img src="../assets/images/logoplatovolador.jpg" alt="Logo">
  </div>
  <div class="header-item">
    <h2>Registrar Ingrediente</h2>
  </div>
  <div class="header-item">
    <h2>Recetas</h2>
  </div>
  <div class="header-item">
    <h2>Nueva Receta</h2>
  </div>
  <div class="header-item">
    <h2>Registro</h2>
  </div>
  <div class="header-item">
    <img src="../assets/images/cheficon1.png" alt="Chef Icon">
  </div>
</header>


<h1>El Plato Volador</h1>