header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff; 
  }
  
  .header-item {
    margin-right: 20px; 
  }
  
  img {
    max-height: 80px; 
    max-width: 100%; 
  }
  
  .main-image{
    max-height: 100%;
  }

  a {
    color: inherit; 
    text-decoration: none; 
  }
  
  a:active {
    color: inherit; 
    text-decoration: none; 
  }