<div class="contenedor">
    <h2>Registro de ingrediente</h2>
    <form id="forma" name="forma" method="POST">
        <div class="elemento">
            <label for="usuario">Nombre</label>
            <input type="text" id="usuario" name="usuario" required="true"/>
        </div>
        <div class="elemento">
            <label for="usuario">Tipo</label>
            <input type="text" id="usuario" name="usuario" required="true"/>
        </div>
        <div class="elemento">
            <input type="submit" value="Registrar"/>
        </div>
    </form>
</div>
